.netbanking-card-layout{
    display: flex;
  
    padding: 10px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin-bottom: 16px;
   
border: 1px solid var(--border-color, #D0D5DD);
background: #FFF;
}
.netbanking-button{
    display: flex;
    width: 455px;
    padding: 12px 12px 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: #FFFFFF;
background: var(--theme, #08F);
color: var(--white, #FFF);
font-size: 14px;
font-family: Lato;
font-style: normal;
font-weight: 600;
line-height: 20px;
margin-top: 180px;
}
.netbanking-continue-text{
   
color: #525A6A;
font-size: 12px;
font-family: Lato;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.netbanking-head-text{
    display: flex;
width: 394px;
flex-direction: column;
flex-shrink: 0;
color: var(--heading, #344054);
font-size: 18px;
font-family: Lato;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.netbanking-selectBank-text{
    color: var(--gray-700, #344054);
/* Text sm/Medium */
font-size: 14px;
font-family: Inter;
font-style: normal;
font-weight: 500;
line-height: 20px;
}
.netbanking-popularBank-text{
    color: var(--heading, #344054);
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
}

.netbanking-card-banks{
   
}